ATRS Billing/.vs/ATRS Billing.slnx/FileContentIndex/345771fd-65d1-4bed-8ff1-b110bce962eb.vsidx
ATRS Billing/.vs/ATRS Billing.slnx/FileContentIndex/a327fbf7-b099-4b56-8988-467e68cf6d83.vsidx
*.vsidx
*.db
*.db-shm
*.db-wal
